
@media only screen and (min-width: 992px){
  .book{
    width: 100%;
    margin: 120px;
    margin-top: 110px;
    justify-content: center;
    .thumbnail{
      img{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      }
    }
    .section{
      width: 1500px;
      display: flex;
      flex-direction: row;
      .firstdetails{
        margin-left: 5%;
        width: 48%;
        h1{
          font-size: 22px;
        }
        button{
          justify-content: center;
          margin-top: 60px;
          width: 100px;
          height: 30px;
          font-size: 16px;
          color: white;
          background-color: rgb(19, 41, 90);
          border: none;
          border-radius: 10px;
          :hover{
            background-color:  rgb(17, 24, 37);
          }
        }
      }
    }
    .more{
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-top: 40px;
      i{
      padding-left: 2%;
       font-size: 30px;
      }

      h1{
        font-size: 18px;
      }
      .details{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        .language{
          background-color: black;
        }
      }

      .description{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
      }
    }
  }

  }





  /*For Tablet and other middle screen devices*/
  @media only screen and (min-width: 601px) {

  }

  @media only screen and (max-width: 600px) {

  }
